body {
  background: url(https://www.shutterstock.com/shutterstock/videos/1092800857/thumb/1.jpg?ip=x480);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: azure;
}

.weather-box {
  background-color: #f0f4f7;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.weather-box h2 {
  font-size: 24px;
  color: #333;
}

.weather-box h3 {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}

.weather-box h5 {
  font-size: 16px;
  color: #555;
  margin-top: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

.menu-container {
  margin-top: 20px;
}